.bg-white {
  background-color: white;
}
.ml-10 {
  margin-left: 110px;
}
.pointer {
  cursor: pointer;
}
.boxShadow {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}
.outline-none {
  outline: none;
}
.border-none {
  border: none;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fw-800 {
  font-weight: 800;
}
.fw-400 {
  font-weight: 400;
}
.fs-150 {
  font-size: 150px;
}
.fs-100 {
  font-size: 100px;
}
.p-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-6 {
  margin-right: 6px;
}
.bg-ccfeff {
  background-color: #ccfeff;
}
.bg-ebedef {
  background-color: #d8dbe0;
}
.bg-313947 {
  background-color: #313947;
}
.br-200 {
  border-radius: 200px;
}
.mainColor {
  color: #5046e5;
}
.bg-mainColor {
  background-color: #5046e5;
}
.textDecoration-none {
  text-decoration: none;
}
.textDecoration-underline {
  text-decoration: underline;
}
.opacity {
  opacity: 0.6;
}
.color-black {
  color: #333;
}
.color-white {
  color: white;
}
.custom-select-arrow {
  font-size: 30px;
}

.table th {
  background-color: white;
  color: "black";
  width: "100%";
  text-align: center;
  text-wrap: nowrap;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* pagination */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}
.active {
  background-color: #1e50ff !important;
  border-radius: 50%;
}
.page-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
  .fs-150 {
    font-size: 100px;
  }
}
